.hidden {
    display: none;
}

button {
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    border-radius: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.warning {
    color: red;
    font-weight: bold;
}

